<!--Header component-->
<h1>{{ title }}</h1>

<hr />
<br />
<!--End Header component-->

<!--Search component-->
<div id="search-component">
  <h4>Search in your library</h4>
  <input id="search-box" #searchInput />
</div>

<!--End Search component-->

<hr />
<br />

<h3>We have {{ books.length }} book(s) in our library</h3>
<hr />
<br />

<!--Books container-->
<div class="container">
  <a class="item" *ngFor="let book of books">
    <div class="module hero">
      <h4>{{ book.title }}</h4>
    </div>
  </a>
</div>
<!--End Books container-->
