/* You can add global styles to this file, and also import other style files */

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  margin: 1%;
  height: 100px;
  width: 200px;
  border: 1px solid #0147a7;
  text-align: center;
  border-radius: 8px;
}

a {
  color: #000;
  cursor: pointer;
}

a:hover {
  background: #0147a7;
}

hr {
  border: 1px solid #0147a7;
  width: 50%;
  float: left;
}

input {
  border: 1px solid #0147a7;
  border-radius: 2px;
  width: 300px;
  height: 25px;
}
